.donation-page {
    display: flex;
    flex-direction: column;
    width: 98vw;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.paper-container {
    height: 75vh;
    width: 80vw;
    margin-top: 32px;
}

.page-contents {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: stretch;
    height: 100%;
}

.content-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fundraiser-details {
    padding: 32px 32px 0px 32px;
    overflow-y: auto;
    flex-grow: 1;
    box-shadow: 0px -4px 6px -5px inset rgb(0 0 0 / 50%);
}

.progress-bar-container {
    margin-top: auto;
    box-shadow: 3px;
    padding: 16px;
    text-align: center
}

.progress-bar {
    height: 16px;
    margin-top: 6px;
}

.content-column {
    flex: 5;
}

.recent-donations-column {
    flex: 1;
}